<div class="big-card_container">
    <div class="big-card_img">
        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt=""  >
    </div>
    <div class="big-card_info">
        <div class="big-card_info_author">
            <a href=""><span>Lorem ipsoner</span></a>
        </div>
        <div class="big-card_info_date">
            <a href=""><span>day, month :year</span></a>
        </div>
    </div>
    <div class="big-card_tags">
        <span>LoremImpsum</span>
    </div>
    <a class="big-card_link" href="">
    <div class="big-card_title">
        <h1>Test Lorem Ipsum!</h1>
    </div>
    <div class="big-card_content">
        <p>Test Lorem Ipsum Ipsum Lorem Test Lorem Ipsum Ipsum Lorem Test Lorem Ipsum Ipsum Lorem</p>
    </div>
    </a>
</div>