<div class="mini-card_container">
    <div class="mini-card_left_aligner">
        <div class="mini-card_img">
            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt=""  >
        </div>
        <div class="mini-card_info">
            <div class="mini-card_info_author">
                <a href=""><span>Lorem ipsoner</span></a>
            </div>
            <div class="mini-card_info_date">
                <a href=""><span>day, month :year</span></a>
            </div>
        </div>    
        <div class="mini-card_tags">
            <span>LoremImpsum</span>
        </div>
    </div>
    <div class="mini-card_right_aligner">
        <a class="mini-card_link" href="">
        <div class="mini-card_title">
            <h1>Test Lorem Ipsum!</h1>
        </div>
        <div class="mini-card_content">
            <p>Test Lorem Ipsum Ipsum Lorem Test Lorem Ipsum Ipsum Lorem Test Lorem Ipsum Ipsum Lorem</p>
        </div>
        </a>
    </div>
</div>