<header>
    <app-nav-bar></app-nav-bar> 
</header>
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_category">
        <app-category-bar></app-category-bar>
    </div>
    <div class="articles_main">
        <app-big-card></app-big-card>
    </div>
    <div class="'container_articles_others">
        <app-mini-card></app-mini-card>
        <app-mini-card></app-mini-card>
        <app-mini-card></app-mini-card>
    </div>
</div>
<footer>
    <app-contact-info-bar></app-contact-info-bar>
</footer>



